# Url подключения к БД
DATABASE_URL="postgresql://username:password@host:port/database"

# Данные для подключения к БД
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=databse
POSTGRES_PORT=port
POSTGRES_HOST=host