# Url подключения к БД
DATABASE_URL="postgresql://username:password@host:port/database"

# Данные для создания БД в контейнере docker через docker-compose.yml
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=databse
POSTGRES_PORT=port
POSTGRES_HOST=host

# Секрет для JWT 
JWT_SECRET=your-jwt-super-secret

# Разрешённые адреса для dev-режима (формат записи firstOrigin,secondOrigin и т.д.)
ALLOWED_DEV_ORIGINS=your,allowed,dev,origins